# Visual Studio files and folder
.vs/
*.user
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Game Engine files
*.log
*.json

# Binaries
**/bin/
bin-int/
/editor/projects/demo/assets/scripts/Resources
/editor/Resources
