
*.obj
*.ipch
*.log
*.tlog
*.vsidx
*.db
*.vcxproj
*.filters
*.pdb
*.lib
*.idb
*.recipe
*.user
*.pch
*.ilk
*.db-wal
*.opendb
*.db-shm
.vs
bin
bin-int
game-engine/vender/mono/bin
game-engine/vender/mono/etc
game-engine/vender/mono/share
